/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Background Colors */
:root {
    --bg-header: #add8e6;
    --bg-navbar: #d9a521;
    --bg-main-top: #00008b;
    --bg-jumbotron: #ee82ee;
    --bg-main-bottom-g: #d3d3d3;
    --bg-small-box: #ffc0cb;
    --bg-big-box: #1e90ff;
    --full-screen-box: #228b22;
    --footer: #23272a;
    --footer-top-big-box: #f08080;
    --footer-top-small-box: #20b2aa;
    --footer-bottom-box: #7fffd4;
}


/* Utils */


.container {
    max-width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.reverse {
    flex-direction: row-reverse;
}


/* Generics */

a {
    text-decoration: none;
    color: black;
}

.bg-gray {
    background-color: var(--bg-main-bottom-g);
}


/* Header */

header {
    width: 100%;
    min-height: 70px;
    background-color: var(--bg-header);
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 80%;
    height: 35px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-navbar);
    padding: 10px;
    border: 2px dashed black;
}

.header-links {
    width: 60%;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    text-align: center;
}

/* Main top */

.main-top {
    background-color: var(--bg-main-top);
    min-height: 450px;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    width: 40%;
    min-height: 350px;
    background-color: var(--bg-jumbotron);
    padding: 20px;
    border: 2px dashed black;
}

/* Main bottom */


.main-bottom {

    min-height: 800px;
}


.main-box {
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    border: 2px dashed black;


}


.split-section {
    height: 500px;
    align-items: center;

}



.big-box {
    height: 100%;
    width: 70%;
    background-color: var(--bg-big-box);
}

.small-box {
    height: 100%;
    width: 30%;
    background-color: var(--bg-small-box);
}


.full-section {
    height: 900px;
    align-items: center;
}

.full-box {
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: var(--full-screen-box);
}

/* Footer */

footer {
    height: 600px;
    background-color: var(--footer);
}

/* Footer Top */

.footer-top {
    height: 85%;
    padding: 20px 0;

}

.footer-big-box {
    border: 2px dashed black;
    width: 30%;
    background-color: var(--footer-top-big-box);
}



.footer-small-box {

    width: 70%;
    background-color: var(--footer-top-small-box);
}

.small-box-item {
    border: 2px dashed white;
    width: 25%;

}


/* Footer Bottom */

.footer-bottom {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    height: 15%;
    align-items: flex-end;

}

.footer-container {
    width: 100%;
    height: 60%;
    background-color: var(--footer-bottom-box);
    justify-content: space-between;
    align-items: center;

}


#logo-footer {
    padding: 0 5px;
    background-color: #ffb5c0;
    border: 2px dashed black;


}

.btn {

    padding: 5px;
    background-color: #ffb5c0;
    border: 2px dashed black;

}